# Framework e Servidor
fastapi
uvicorn[standard]

# Comunicação e SDKs
httpx
docker
twilio
python-binance

# Análise de Dados
pandas
numpy

# Utilitários
pydantic
python-dotenv
pyjwt
passlib[bcrypt]

# Testes
pytest
pytest-asyncio
pytest-mock

# Banco de Dados
sqlalchemy
psycopg2-binary
alembic

# Visualização de Dados
matplotlib